
/** HEADER **/ 
#header-nav{
	background: gray; 
	border-radius: 0; 
	border: 0;
}
.navbar-brand{
	padding-top: 25px; 
}
.navbar-brand h2{ /*title*/
	 font-family: 'Lora', serif; 
	 color: #557c3e; 
	 font-size: 1.5em; 
	 text-transform: uppercase;
	 font-weight: bold;
	 text-shadow: 1px 1px 1px #222; 
	 margin-top: 0; 
	 margin-bottom: 0; 
	 line-height: .75; 
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none; 
}
#nav-list{
	margin-top: 10px; 
}

#nav-list a{
	color: #951C49;
	text-align: center;
}
#nav-list a:hover{
	background: #e7e7e7;
}
#nav-list a span{
font-size: 1.8em;
}

@media(min-width: 768px){
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
		margin-left: -15px; 
	}
}
.navbar-toggle{
	position: relative;
	float: right;
	padding:9px 10px;
	margin-bottom: 8px; 
	margin-top: 15px; 
	margin-right: 0px; 
	border-radius: 2px; 
}
.navbar-toggle:focus{
	outline: 0;
}

.navbar-toggle .icon-bar{ 
	display: block;
	width: 22px; 
	height: 2px; 
	border-radius: 1px; 

}

.navbar-toggle .icon-bar + .icon-bar{
	margin-top: 4px; 
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle{
	clear: both; 

}
@media(min-width: 768px){
	.navbar-toggle{
	display: none;
	}
}
.navbav-nav{
	margin:7.5px -15px;
}
.navbar-nav > li > a {
	padding-top: 10px; 
	padding-bottom: 10px; 
	line-height: 20px; 
}

/** style of texte**/

.menu-header{
  margin-bottom: 40px;
}
.menu-content{
  background: #999999;
  margin-bottom: 20px;
}
